{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

            <div class="row">
            {% for list in listData %}
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="{{list.url}}" class="card-img-top" alt="{{ list.title }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ list.title }}</h5>
                        <p class="card-text">{{ list.description }}</p>
                        <a href="{% url 'listingPage' id=list.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div> 
            {% endfor %}
            </div>
{% endblock %}